* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.header {
  background-color: #000;
}

.header-container {
  height: 230px;
  background-color: #97948f;
  background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/home_mobile.jpg);
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.header-list {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 45px 0 45px;
  justify-content: space-between;
}
.header-list a {
  display: flex;
  align-items: baseline;
}

.header-menu {
  display: flex;
}
.header-menu-item {
  padding-left: 39px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 167;
}
.header-menu-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-input {
  max-width: 336px;
  width: 100%;
  background-color: #00000000;
  border: none;
  border-bottom: 0.5px solid #fff;
  outline: none;
  color: #fff;
  padding-left: 1px;
  margin-right: -12px;
}

.header-input::placeholder {
  color: #fff;
  font-size: 14px;
}

.header-title {
  display: none;
  color: #fff;
  padding-left: 12px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.172;
}

.header-input-wrapper {
  display: flex;
  justify-content: center;
}

.header-icon-search {
  display: inline-block;
}

.current-page::after {
  content: "";
  background-color: #ff6b08;
  height: 3px;
  width: 100%;
  display: block;
  margin-bottom: -30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.error {
  color: #ff001b;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  margin-top: 22px;
}

.is-hidden {
  display: none;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-container {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/home_mobile@2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/home_tablet.jpg);
    background-size: cover;
  }

  .header-list {
    padding: 45px 70px 45px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 2dppx) {
  .header-container {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/home_tablet@2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .header-container {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/home_desktop.jpg);
    background-size: cover;
  }

  .header-list {
    padding: 45px 70px 45px;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-container {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/home_desktop@2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 480px) {
  .header-title {
    display: inline-block;
  }

  .error {
    text-align: center;
  }
}
.header-container-library {
  height: 230px;
  background-color: #97948f;
  background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/library_mobile.jpg);
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: #00000000;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.143;
  width: 130px;
  height: 44px;
  margin-left: 20px;
}
.btn-wrapper {
  margin-left: -20px;
  display: flex;
  justify-content: center;
}
.btn:hover {
  background: #FF6B01;
  border: none;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}
.btn-active {
  background: #FF6B01;
  border: none;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-container-library {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/library_mobile@2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container-library {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/library_tablet.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 2dppx) {
  .header-container-library {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/library_tablet@2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .header-container-library {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/library_desktop.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-container-library {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(./../images/header/library_desktop@2x.jpg);
    background-size: cover;
  }
}
.film-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 20px;
  max-width: 1300px;
  margin: 0 auto;
  cursor: pointer;
}

.film-card {
  min-width: 280px;
  max-width: 295px;
  margin-bottom: 20px;
}

.film-cover {
  display: block;
  background: url(./../images/header/movie-placeholder.jpg);
  height: 400px;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

.film-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
}

.film-info {
  font-size: 12px;
  line-height: 1.172;
  font-weight: 500;
  color: #ff6b08;
}

.film-list-item {
  margin-top: 20px;
}

.film-rating {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
  background-color: #ff6b08;
  text-align: center;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  padding: 1px 6px;
  margin-left: 10px;
}

@media screen and (min-width: 620px) {
  .film-gallery {
    padding: 30px 20px;
  }

  .film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
    padding: 10px;
  }
  .film-list-item {
    margin-top: 30px;
  }

  .film-card {
    margin-left: 30px;
    margin-top: 30px;
  }
}
.footer {
  background-color: #f7f7f7;
}
.footer__icon-heart {
  display: inline-block;
  width: 14px;
  height: 12.75px;
  fill: #ff6b08;
  color: #545454;
}
.footer__rights, .footer__link {
  color: #545454;
}
.footer__link {
  text-decoration: underline;
}

@media screen and (min-width: 320px) {
  .footer {
    height: 100px;
  }
  .footer__wrapper {
    padding-top: 28px;
    text-align: center;
  }
  .footer__rights {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
  }
  .footer__container {
    margin: 0 auto;
    width: 320px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    height: 77px;
  }
  .footer__wrapper {
    display: flex;
    justify-content: center;
  }
  .footer__rights {
    font-size: 16px;
    line-height: 1.187;
  }
  .footer__container {
    width: 768px;
    padding: 0 75px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    width: 1024px;
    padding: 0 71px;
  }
}
.modal-team__backdrop {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms ease;
}

.team-is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-team__close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  fill: #000000;
}
.modal-team__members {
  position: relative;
  margin: 0 auto;
  padding: 25px;
  width: 100%;
  background-color: #f5f4fa;
}
.modal-team__title {
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 15px;
}
.modal-team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: auto;
  font-size: 15px;
  line-height: 1.26;
  list-style: none;
}
.modal-team__item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: transform 250ms linear;
}
.modal-team__item:hover, .modal-team__item:focus {
  transform: scale(1.05);
}
.modal-team__img-wrapper {
  display: block;
  margin-bottom: 10px;
}
.modal-team__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.modal-team__name {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

@media screen and (min-width: 320px) {
  .modal-team__item {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
  }
  .modal-team__name {
    display: block;
  }
  .modal-team__item {
    width: 160px;
  }

  .modal-team__container {
    margin: 0 auto;
    width: 320px;
    padding: 0 20px;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .modal-team__title {
    font-size: 22px;
    line-height: 1.27;
  }
  .modal-team__item {
    width: calc((100% - 4 * 15px) / 2);
    margin-right: 10px;
  }

  .modal-team__container {
    width: 768px;
    padding: 0 75px;
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .modal-team__item {
    width: calc((100% - 4 * 3px) / 6);
    margin-right: 10px;
  }
  .modal-team__title {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .modal-team__backdrop {
    padding-top: 100px;
  }
  .modal-team__members {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .modal-team__img-wrapper {
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .modal-team__container {
    width: 1024px;
    padding: 0 71px;
    position: relative;
  }
}
.overlay {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 250ms ease;
}
@media screen and (min-width: 1920px) {
  .overlay {
    padding: 120px 0;
  }
}
.overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__wrapper {
    width: 280px;
    min-height: 837px;
    padding: 48px 20px 41px 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal__wrapper {
    width: 618px;
    min-height: 457px;
    padding: 42px 28px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__wrapper {
    width: 882px;
    min-height: 567px;
    padding: 50px 30px 40px 30px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    display: flex;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__poster-tmp {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .modal__poster-tmp {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__poster-tmp {
    margin-right: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal__poster {
    width: 240px;
    height: 356px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .modal__poster {
    width: 264px;
    height: 373px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__poster {
    width: 396px;
    height: 477px;
  }
}
.modal__poster-img {
  object-fit: cover;
  border-radius: 5px;
  width: inherit;
  height: 100%;
}

.modal__close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  fill: #000000;
}

.modal__descr-title {
  font-weight: 500;
  color: #000000;
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) {
  .modal__descr-title {
    font-size: 20px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 768px) {
  .modal__descr-title {
    font-size: 20px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1024px) {
  .modal__descr-title {
    font-size: 30px;
    line-height: 1.16;
  }
}
.modal__descr-list {
  margin-bottom: 20px;
}
.modal__descr-sublist {
  display: flex;
}
.modal__descr-sublist:not(:last-child) {
  margin-bottom: 10px;
}
.modal__descr-details {
  font-weight: 500;
  font-size: 12px;
  line-height: 0.75;
  color: #8c8c8c;
}
.modal__descr-details--indent {
  margin-right: 40px;
  min-width: 69px;
}
.modal__descr-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 0.85;
  color: #000000;
}
.modal__descr-item--title {
  text-transform: uppercase;
}
.modal__descr-vote, .modal__descr-votes {
  font-weight: 500;
  font-size: 12px;
  line-height: 0.85;
  color: #ffffff;
  background-color: #ff6b08;
  text-align: center;
  width: 36px;
  border-radius: 5px;
  padding: 1px 6px;
}
.modal__descr-votes {
  color: #000000;
  background-color: #f7f7f7;
}
.modal__descr-separator {
  color: #8c8c8c;
}
.modal__descr-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 0.75;
  margin-bottom: 10px;
}
.modal__descr-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 0.6;
}

.modal__buttons {
  display: flex;
  margin-top: 20px;
}
.modal__buttons-watched, .modal__buttons-queue {
  font-weight: 500;
  font-size: 12px;
  line-height: 0.75;
  min-width: 112px;
  height: 44px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .modal__buttons-watched, .modal__buttons-queue {
    min-width: 125px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__buttons-watched, .modal__buttons-queue {
    min-width: 136px;
  }
}
.modal__buttons-watched {
  margin-right: 15px;
}
.modal__buttons-watched:hover, .modal__buttons-watched:focus, .modal__buttons-queue:hover, .modal__buttons-queue:focus {
  background-color: #ff6b08;
  color: #ffffff;
  border: 1px solid #ff6b08;
}
.modal__buttons .active {
  background-color: #ff6b08;
  color: #ffffff;
  border: 1px solid #ff6b08;
}

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0;
    /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25;
    /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}
@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22;
    /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */