.header-container {
  height: 230px;
  background-color: rgb(151, 148, 143);
  background: linear-gradient(rgba(0, 0, 0, 0.56)
  , rgba(0, 0, 0, 0.56)
  ), url(./../images/header/home_mobile.jpg);
} 
.header-list {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 45px 20px 45px 20px;
  justify-content: space-between;

}
.header-menu {
  display: flex;

  &-item {
    padding-left: 39px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1,167;
  }
}
.header-input {
    max-width: 336px;
    width: 87.5%;
    display: block;
    margin: 0 auto;
}