.film-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 20px;
  max-width: 1300px;
  min-height: 500px;
  margin: 0 auto;
}
.film-card {
  min-width: 280px;
  max-width: 295px;
  margin-bottom: 20px;
  cursor: pointer;
}
.film-cover {
  display: block;
  background: url(./../images/header/movie-placeholder.jpg);
  //Zdjęcie autorstwa Pietro Jeng z Pexels
  //https://www.pexels.com/pl-pl/zdjecie/spiralna-tasma-filmowa-65128/
  height: 400px;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

.film-cover:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

  @-webkit-keyframes flash {
    0% {
      opacity: .4;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes flash {
    0% {
      opacity: .4;
    }

    100% {
      opacity: 1;
    }
  }

.film-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
}
.film-info {
  font-size: 12px;
  line-height: 1.172;
  font-weight: 500;
  color: #ff6b08;
}
.film-list-item {
  margin-top: 20px;
}
.film-rating {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
  background-color: #ff6b08;
  text-align: center;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  padding: 1px 6px;
  margin-left: 10px;
}

@media screen and (min-width: 620px) {
  .film-gallery {
    padding: 30px 20px;
  }
  .film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
    padding: 10px;

    &-item {
      margin-top: 30px;
    }
  }
  .film-card {
    margin-left: 30px;
    margin-top: 30px;
  }
}
