// bg #FF6B08

@media screen and (min-width: 320px) and (max-width: 767px) {
  // #pagination > li:first-child {
  //   display: none;
  // }
  .page-item-previous {
    display: none;
    background-color: red;
  }
  #pagination {
    color: red;
    display: none;
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
